<h1>Bienvenido a Sportly</h1>

<form [formGroup]="form" (ngSubmit)="submit()">

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="text" formControlName="email" autocomplete="email" />
        <mat-icon matSuffix>email</mat-icon>
        <mat-hint>Obligatorio</mat-hint>
        <mat-error *ngIf="form.get('email')?.hasError('required')">
            El email es obligatorio
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" formControlName="password" autocomplete="current-password" />
        <mat-icon matSuffix>lock</mat-icon>
        <mat-hint>Obligatorio</mat-hint>
        <mat-error *ngIf="form.get('password')?.hasError('required')">
            La contraseña es obligatoria
        </mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit">
        <mat-icon>login</mat-icon>
        <span>Iniciar sesión</span>
    </button>
</form>

<footer>
    <a class="recovery-link" [routerLink]="['/authentication', 'request-recovery']">
        ¿Has olvidado tu contraseña? Pulsa este enlace para recuperar el acceso
    </a>
</footer>