

:host {
  align-items: center;
  background: linear-gradient(135deg, rgb(213, 219, 219), rgb(224, 233, 233));
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 100vh;
}
article {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  max-width: 25rem;
  padding: 1rem;
  & .title {
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
  }
  & .text {
    text-align: center;
  }
  & .button {
    align-self: center;
    margin-top: 1rem;
  }
}
